<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Народ – ЕУСПб{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'catalogue' %}">Каталог</a></li>
                <li><a href="{% url 'about' %}">О проекте</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Narod.ru EUSP. All rights reserved.</p>
            <div class="footer-logos">
                <a href="https://eusp.org">
                    <img src="{% static 'logo/logo_eu.jpg' %}" alt="Logo 1" class="footer-logo">
                </a>
                <a href="https://pandan.eusp.org">
                    <img src="{% static 'logo/pandan_logo_full.jpg' %}" alt="Logo 2" class="footer-logo">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>
